
.main_container{
    background-color: grey;
    height: 1000px;
}

.header{
    color: black;
    text-align: center;
    padding-top: 50px;
    font-weight: 300;
    font-size: 60px;
    margin-bottom: 100px;
    font-family: cursive;
}
.header2{
    color: black;
    text-align: center;
    padding-top: 10px;
    font-weight: 300;
    font-size: 50px;
    margin-bottom: 15px;
    font-family: cursive;
}

